In [1]:
# 라이브러리 임포트
import tensorflow as tf
import pandas as pd

In [2]:
baseball_2015 = pd.read_csv('./baseball_2015.csv', encoding='CP949')
baseball_2015.head()

,G_ID,GDAY_DS,T_ID,VS_T_ID,HEADER_NO,TB_SC,PA,AB,RBI,RUN,...,HP,KK,GD,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN,OBP,OOO,win
0,20150328HHNE0,20150328,HH,NE,0,T,54,42,4,4,...,1,7,0,24,0.133333,15,2,0.352941,0.238095,0.0
1,20150328HHNE0,20150328,NE,HH,0,B,46,40,5,5,...,0,7,1,18,0.090909,11,1,0.304348,0.200000,1.0
2,20150328KTLT0,20150328,KT,LT,0,T,46,35,8,9,...,1,8,1,23,0.285714,14,4,0.511111,0.400000,0.0
3,20150328KTLT0,20150328,LT,KT,0,B,42,37,12,12,...,1,8,1,17,0.437500,16,7,0.439024,0.378378,1.0
4,20150328LGHT0,20150328,LG,HT,0,T,34,29,1,1,...,0,6,2,17,0.200000,10,2,0.333333,0.241379,0.0

In [3]:
baseball_2016 = pd.read_csv('./baseball_2016.csv', encoding='CP949')
baseball_2016.head()

,G_ID,GDAY_DS,T_ID,VS_T_ID,HEADER_NO,TB_SC,PA,AB,RBI,RUN,...,HP,KK,GD,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN,OBP,OOO,win
0,20160401HHLG0,20160401,HH,LG,0,T,52.0,46.0,4.0,4.0,...,0.0,10.0,1.0,24.0,0.200000,15,3,0.326531,0.282609,0.0
1,20160401HHLG0,20160401,LG,HH,0,B,47.0,42.0,4.0,5.0,...,0.0,11.0,0.0,15.0,0.333333,12,4,0.282609,0.214286,1.0
2,20160401HTNC0,20160401,HT,NC,0,T,38.0,34.0,3.0,4.0,...,1.0,10.0,1.0,17.0,0.100000,10,1,0.315789,0.235294,0.0
3,20160401HTNC0,20160401,NC,HT,0,B,36.0,30.0,5.0,5.0,...,0.0,9.0,1.0,14.0,0.142857,7,1,0.400000,0.300000,1.0
4,20160401KTSK0,20160401,KT,SK,0,T,42.0,36.0,7.0,8.0,...,1.0,7.0,0.0,17.0,0.285714,7,2,0.380952,0.305556,1.0

In [4]:
baseball_2017 = pd.read_csv('./baseball_2017.csv', encoding='CP949')
baseball_2017.head()

,G_ID,GDAY_DS,T_ID,VS_T_ID,HEADER_NO,TB_SC,PA,AB,RBI,RUN,...,HP,KK,GD,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN,OBP,OOO,win
0,20170331HHOB0,20170331,HH,OB,0,T,33.0,29.0,0.0,0.0,...,0.0,8.0,0.0,11.0,0.000000,4,0,0.218750,0.137931,0.0
1,20170331HHOB0,20170331,OB,HH,0,B,33.0,27.0,3.0,3.0,...,2.0,8.0,0.0,15.0,0.111111,9,1,0.242424,0.148148,1.0
2,20170331HTSS0,20170331,HT,SS,0,T,42.0,34.0,7.0,7.0,...,0.0,5.0,0.0,12.0,0.285714,7,2,0.357143,0.205882,1.0
3,20170331HTSS0,20170331,SS,HT,0,B,33.0,31.0,2.0,2.0,...,0.0,7.0,1.0,8.0,0.000000,3,0,0.250000,0.225806,0.0
4,20170331KTSK0,20170331,KT,SK,0,T,37.0,35.0,3.0,3.0,...,0.0,8.0,1.0,12.0,0.200000,5,1,0.297297,0.257143,1.0

In [5]:
baseball_2018 = pd.read_csv('./baseball_2018.csv', encoding='CP949')
baseball_2018.head()

,G_ID,GDAY_DS,T_ID,VS_T_ID,HEADER_NO,TB_SC,PA,AB,RBI,RUN,...,HP,KK,GD,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN,OBP,OOO,win
0,20180324HHNE0,20180324,HH,NE,0,T,38.0,37.0,2.0,3.0,...,0.0,9.0,0.0,16.0,0.230769,13,3,0.368421,0.351351,0.0
1,20180324HHNE0,20180324,NE,HH,0,B,41.0,37.0,5.0,6.0,...,0.0,10.0,0.0,26.0,0.235294,17,4,0.390244,0.324324,1.0
2,20180324KTHT0,20180324,KT,HT,0,T,38.0,37.0,5.0,5.0,...,0.0,9.0,0.0,11.0,0.400000,5,2,0.315789,0.297297,1.0
3,20180324KTHT0,20180324,HT,KT,0,B,43.0,36.0,4.0,4.0,...,2.0,8.0,0.0,25.0,0.272727,11,3,0.390244,0.333333,0.0
4,20180324LGNC0,20180324,LG,NC,0,T,32.0,30.0,2.0,2.0,...,0.0,9.0,1.0,10.0,0.000000,4,0,0.250000,0.233333,0.0

In [6]:
baseball_2019 = pd.read_csv('./baseball_2019.csv', encoding='CP949')
baseball_2019.head()

,G_ID,GDAY_DS,T_ID,VS_T_ID,HEADER_NO,TB_SC,PA,AB,RBI,RUN,...,HP,KK,GD,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN,OBP,OOO,win
0,20190323HHOB0,20190323,HH,OB,0,T,42.0,34.0,4.0,4.0,...,1.0,7.0,2.0,18.0,0.200000,10,2,0.439024,0.352941,0.0
1,20190323HHOB0,20190323,OB,HH,0,B,33.0,28.0,5.0,5.0,...,0.0,3.0,1.0,9.0,0.500000,4,2,0.333333,0.214286,1.0
2,20190323KTSK0,20190323,KT,SK,0,T,39.0,36.0,4.0,4.0,...,0.0,10.0,1.0,21.0,0.200000,10,2,0.307692,0.250000,0.0
3,20190323KTSK0,20190323,SK,KT,0,B,37.0,31.0,6.0,7.0,...,0.0,5.0,1.0,13.0,0.375000,8,3,0.378378,0.258065,1.0
4,20190323LGHT0,20190323,LG,HT,0,T,34.0,31.0,2.0,2.0,...,0.0,12.0,3.0,11.0,0.142857,7,1,0.323529,0.258065,1.0

In [7]:
baseball_data = pd.concat([baseball_2015, baseball_2016,baseball_2017, baseball_2018, baseball_2019])
baseball_data

,G_ID,GDAY_DS,T_ID,VS_T_ID,HEADER_NO,TB_SC,PA,AB,RBI,RUN,...,HP,KK,GD,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN,OBP,OOO,win
0,20150328HHNE0,20150328,HH,NE,0,T,54.0,42.0,4.0,4.0,...,1.0,7.0,0.0,24.0,0.133333,15,2,0.352941,0.238095,0.0
1,20150328HHNE0,20150328,NE,HH,0,B,46.0,40.0,5.0,5.0,...,0.0,7.0,1.0,18.0,0.090909,11,1,0.304348,0.200000,1.0
2,20150328KTLT0,20150328,KT,LT,0,T,46.0,35.0,8.0,9.0,...,1.0,8.0,1.0,23.0,0.285714,14,4,0.511111,0.400000,0.0
3,20150328KTLT0,20150328,LT,KT,0,B,42.0,37.0,12.0,12.0,...,1.0,8.0,1.0,17.0,0.437500,16,7,0.439024,0.378378,1.0
4,20150328LGHT0,20150328,LG,HT,0,T,34.0,29.0,1.0,1.0,...,0.0,6.0,2.0,17.0,0.200000,10,2,0.333333,0.241379,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1459,20191023WOOB0,20191023,OB,WO,0,B,37.0,32.0,5.0,6.0,...,0.0,8.0,1.0,13.0,0.285714,7,2,0.351351,0.281250,1.0
1460,20191025OBWO0,20191025,OB,WO,0,T,40.0,35.0,5.0,5.0,...,1.0,11.0,0.0,15.0,0.181818,11,2,0.325000,0.228571,1.0
1461,20191025OBWO0,20191025,WO,OB,0,B,32.0,28.0,0.0,0.0,...,0.0,2.0,1.0,9.0,0.250000,4,1,0.250000,0.142857,0.0
1462,20191026OBWO0,20191026,OB,WO,0,T,50.0,42.0,10.0,11.0,...,1.0,11.0,1.0,24.0,0.437500,16,7,0.428571,0.333333,1.0
1463,20191026OBWO0,20191026,WO,OB,0,B,50.0,44.0,7.0,9.0,...,0.0,4.0,1.0,26.0,0.187500,16,3,0.346939,0.272727,0.0

In [8]:
# 분석에 필요하다고 생각되는 column으로 df 재구성
baseball_data_re = baseball_data[['T_ID', 'VS_T_ID', 'PA', 'AB', 'RUN', 'OBP', 'OOO', 'win']]
baseball_data_re.head()

  T_ID VS_T_ID    PA    AB   RUN       OBP       OOO  win
0   HH      NE  54.0  42.0   4.0  0.352941  0.238095  0.0
1   NE      HH  46.0  40.0   5.0  0.304348  0.200000  1.0
2   KT      LT  46.0  35.0   9.0  0.511111  0.400000  0.0
3   LT      KT  42.0  37.0  12.0  0.439024  0.378378  1.0
4   LG      HT  34.0  29.0   1.0  0.333333  0.241379  0.0

In [10]:
# 결측치 확인
baseball_data_re.isnull().sum()

T_ID       0
VS_T_ID    0
PA         0
AB         0
RUN        0
OBP        0
OOO        0
win        0
dtype: int64

In [ ]:
# baseball_data_re = baseball_data.dropna(axis=0) # 결측치가 없어서 생략

In [11]:
baseball_data_re.info() # 데이터 타입과 전체 몇 경기의 데이터인지 확인

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7288 entries, 0 to 1463
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   T_ID     7288 non-null   object
 1   VS_T_ID  7288 non-null   object
 2   PA       7288 non-null   float64
 3   AB       7288 non-null   float64
 4   RUN      7288 non-null   float64
 5   OBP      7288 non-null   float64
 6   OOO      7288 non-null   float64
 7   win      7288 non-null   float64
dtypes: float64(6), object(2)
memory usage: 512.4+ KB

In [12]:
# 무승부 제거
baseball_data_re = baseball_data_re[baseball_data_re.win != 0.5]

In [13]:
# 무승부가 제거된 경기 수 확인: 7288 경기 중 82 경기 (1.125%)
baseball_data_re.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7206 entries, 0 to 1463
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   T_ID     7206 non-null   object
 1   VS_T_ID  7206 non-null   object
 2   PA       7206 non-null   float64
 3   AB       7206 non-null   float64
 4   RUN      7206 non-null   float64
 5   OBP      7206 non-null   float64
 6   OOO      7206 non-null   float64
 7   win      7206 non-null   float64
dtypes: float64(6), object(2)
memory usage: 506.7+ KB

In [14]:
baseball_data_re['T_ID'].unique()

array(['HH', 'NE', 'KT', 'LT', 'LG', 'HT', 'NC', 'OB', 'SK', 'SS', 'WO'],
      dtype=object)

In [15]:
# NE(넥센)은 WO(키움)으로 변경된 동일한 팀
baseball_data_re = baseball_data_re.replace('NE', 'WO')

In [16]:
# 팀명 한번 더 확인
baseball_data_re['T_ID'].unique() # NE(넥센)이 없어진 걸 확인할 수 있음

array(['HH', 'WO', 'KT', 'LT', 'LG', 'HT', 'NC', 'OB', 'SK', 'SS'],
      dtype=object)

In [17]:
# 라벨인코더로 10개 팀 넘버링하기
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(baseball_data_re['T_ID'])
baseball_data_re.loc[:,'T_ID'] = le.transform(baseball_data_re['T_ID'])
baseball_data_re.loc[:,'VS_T_ID'] = le.transform(baseball_data_re['VS_T_ID'])

baseball_data_re.head()

   T_ID  VS_T_ID    PA    AB   RUN       OBP       OOO  win
0     0        9  54.0  42.0   4.0  0.352941  0.238095  0.0
1     9        0  46.0  40.0   5.0  0.304348  0.200000  1.0
2     2        4  46.0  35.0   9.0  0.511111  0.400000  0.0
3     4        2  42.0  37.0  12.0  0.439024  0.378378  1.0
4     3        1  34.0  29.0   1.0  0.333333  0.241379  0.0

In [39]:
baseball_data_re['T_ID'].unique()

array([0, 9, 2, 4, 3, 1, 5, 6, 7, 8])

In [ ]:
# # 생략
# # 홈팀(B)은 1로 원정팀(T)는 0으로 변경
# baseball_data = baseball_data.replace('T', 0)
# baseball_data = baseball_data.replace('B', 1)

In [18]:
print(baseball_data_re.columns)

Index(['T_ID', 'VS_T_ID', 'PA', 'AB', 'RUN', 'OBP', 'OOO', 'win'], dtype='object')

In [19]:
# 승패에 대한 2진 분류를 위해 원핫인코더로 승패를 2개의 column으로 나눈다.
baseball_data_re = pd.get_dummies(baseball_data_re, columns = ['win'])
baseball_data_re.head()

   T_ID  VS_T_ID    PA    AB   RUN       OBP       OOO  win_0.0  win_1.0
0     0        9  54.0  42.0   4.0  0.352941  0.238095        1        0
1     9        0  46.0  40.0   5.0  0.304348  0.200000        0        1
2     2        4  46.0  35.0   9.0  0.511111  0.400000        1        0
3     4        2  42.0  37.0  12.0  0.439024  0.378378        0        1
4     3        1  34.0  29.0   1.0  0.333333  0.241379        1        0

In [20]:
baseball_data_re.dtypes
# "원핫인코더"를 하면서 승패 colunm에 변화가 생김

T_ID         int32
VS_T_ID      int32
PA         float64
AB         float64
RUN        float64
OBP        float64
OOO        float64
win_0.0      uint8
win_1.0      uint8
dtype: object

In [21]:
baseball_data_re['win_0.0'] = baseball_data_re['win_0.0'].astype('int')
# #baseball_data['승패_0.5'] = baseball_data['승패_0.5'].astype('int')
baseball_data_re['win_1.0'] = baseball_data_re['win_1.0'].astype('int')

In [22]:
# 독립변수, 종속변수
# 위 print(baseball_data.columns)의 index를 이용한다.
data = baseball_data_re[['T_ID', 'VS_T_ID', 'PA', 'AB', 'RUN', 'OBP', 'OOO']]
target = baseball_data_re[['win_0.0', 'win_1.0']] # 무승부는 2진 분류를 위해 위에서 제거하였다.
# target = baseball_data_re[['win']] # 승패 분류가 아닌 회귀로 0 또는 1을 추정해 보려 한다.
print(data.shape, target.shape)

(7206, 7) (7206, 2)

In [23]:
# train_x, train_y = train_input, train_target
# test_x, test_y = test_input, test_target

from sklearn.model_selection import train_test_split
train_x, test_x, train_y, test_y = train_test_split(data, target, test_size=0.2, random_state=42)

In [ ]:
# # train을 이용하여 검증용 sub(진짜 훈련셋)과 val(검증셋)으로 구분하기

# sub_x, val_x, sub_y, val_y = train_test_split(train_x, train_y, test_size=0.2, random_state=42)

In [24]:
print(train_x.shape, test_x.shape)
# print(sub_x.shape, val_x.shape)
# # 5764개의 train data가 4611개의 sub data와 1153개의 val data로 나누어졌다.

(5764, 7) (1442, 7)

In [25]:
# 모델을 만든다.

X = tf.keras.layers.Input(shape=[7])

H = tf.keras.layers.Dense(10)(X)
H = tf.keras.layers.BatchNormalization()(H)
H = tf.keras.layers.Activation('swish')(H)

H = tf.keras.layers.Dense(7)(H)
H = tf.keras.layers.BatchNormalization()(H)
H = tf.keras.layers.Activation('swish')(H)

H = tf.keras.layers.Dense(5)(H)
H = tf.keras.layers.BatchNormalization()(H)
H = tf.keras.layers.Activation('swish')(H)

Y = tf.keras.layers.Dense(2, activation='softmax')(H)
model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

In [26]:
# 모델이 잘 만들어졌는지 확인한다.

model.summary()

Model: "model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_1 (InputLayer)        [(None, 7)]               0

 dense (Dense)               (None, 10)                80

 batch_normalization (BatchN  (None, 10)               40
 ormalization)

 activation (Activation)     (None, 10)                0

 dense_1 (Dense)             (None, 7)                 77

 batch_normalization_1 (Batc  (None, 7)                28
 hNormalization)

 activation_1 (Activation)   (None, 7)                 0

 dense_2 (Dense)             (None, 5)                 40

 batch_normalization_2 (Batc  (None, 5)                20
 hNormalization)

 activation_2 (Activation)   (None, 5)                 0

 dense_3 (Dense)             (None, 2)                 12

=================================================================
Total params: 297
Trainable params: 253
Non-trainable params: 44
_________________________________________________________________

In [27]:
# 훈련이 잘 작동하는지 확인해 본다.
model.fit(train_x, train_y, epochs=10)

Epoch 1/10
181/181 [==============================] - 2s 2ms/step - loss: 0.6036 - accuracy: 0.6787
Epoch 2/10
181/181 [==============================] - 0s 2ms/step - loss: 0.4904 - accuracy: 0.7693
Epoch 3/10
181/181 [==============================] - 0s 2ms/step - loss: 0.4633 - accuracy: 0.7778
Epoch 4/10
181/181 [==============================] - 0s 2ms/step - loss: 0.4503 - accuracy: 0.7844
Epoch 5/10
181/181 [==============================] - 0s 2ms/step - loss: 0.4415 - accuracy: 0.7876
Epoch 6/10
181/181 [==============================] - 0s 2ms/step - loss: 0.4457 - accuracy: 0.7890
Epoch 7/10
181/181 [==============================] - 0s 2ms/step - loss: 0.4454 - accuracy: 0.7913
Epoch 8/10
181/181 [==============================] - 0s 2ms/step - loss: 0.4398 - accuracy: 0.7916
Epoch 9/10
181/181 [==============================] - 0s 2ms/step - loss: 0.4342 - accuracy: 0.7937
Epoch 10/10
181/181 [==============================] - 0s 2ms/step - loss: 0.4401 - accuracy: 0.7922

In [29]:
model.fit(train_x, train_y, epochs=100)

Epoch 1/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4343 - accuracy: 0.7863
Epoch 2/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4366 - accuracy: 0.7937
Epoch 3/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4342 - accuracy: 0.7899
Epoch 4/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4336 - accuracy: 0.7968
Epoch 5/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4330 - accuracy: 0.7982
Epoch 6/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4347 - accuracy: 0.7977
Epoch 7/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4278 - accuracy: 0.7979
Epoch 8/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4299 - accuracy: 0.7981
Epoch 9/100
181/181 [==============================] - 0s 1ms/step - loss: 0.4292 - accuracy: 0.7975
Epoch 10/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4303 - accuracy: 0.8008
Epoch 11/100
181/181 [==============================] - 0s 3ms/step - loss: 0.4257 - accuracy: 0.7979
Epoch 12/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4249 - accuracy: 0.7979
Epoch 13/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4207 - accuracy: 0.8008
Epoch 14/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4244 - accuracy: 0.8022
Epoch 15/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4152 - accuracy: 0.8001
Epoch 16/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4228 - accuracy: 0.8022
Epoch 17/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4276 - accuracy: 0.7982
Epoch 18/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4181 - accuracy: 0.8060
Epoch 19/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4187 - accuracy: 0.8052
Epoch 20/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4196 - accuracy: 0.8064
Epoch 21/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4205 - accuracy: 0.7993
Epoch 22/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4164 - accuracy: 0.8055
Epoch 23/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4199 - accuracy: 0.8099
Epoch 24/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4217 - accuracy: 0.8005
Epoch 25/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4144 - accuracy: 0.8062
Epoch 26/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4215 - accuracy: 0.7998
Epoch 27/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4164 - accuracy: 0.8057
Epoch 28/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4166 - accuracy: 0.8043
Epoch 29/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4125 - accuracy: 0.8095
Epoch 30/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4133 - accuracy: 0.8062
Epoch 31/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4111 - accuracy: 0.8067
Epoch 32/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4134 - accuracy: 0.8085
Epoch 33/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4089 - accuracy: 0.8069
Epoch 34/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4130 - accuracy: 0.8024
Epoch 35/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4176 - accuracy: 0.8020
Epoch 36/100
181/181 [==============================] - 0s 3ms/step - loss: 0.4166 - accuracy: 0.8079
Epoch 37/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4126 - accuracy: 0.8052
Epoch 38/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4106 - accuracy: 0.8092
Epoch 39/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4053 - accuracy: 0.8081
Epoch 40/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4139 - accuracy: 0.8088
Epoch 41/100
181/181 [==============================] - 0s 3ms/step - loss: 0.4109 - accuracy: 0.8104
Epoch 42/100
181/181 [==============================] - 0s 3ms/step - loss: 0.4125 - accuracy: 0.8027
Epoch 43/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4094 - accuracy: 0.8085
Epoch 44/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4086 - accuracy: 0.8090
Epoch 45/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4135 - accuracy: 0.8073
Epoch 46/100
181/181 [==============================] - 0s 1ms/step - loss: 0.4114 - accuracy: 0.8048
Epoch 47/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4142 - accuracy: 0.8064
Epoch 48/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4131 - accuracy: 0.8031
Epoch 49/100
181/181 [==============================] - 0s 1ms/step - loss: 0.4068 - accuracy: 0.8066
Epoch 50/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4158 - accuracy: 0.8022
Epoch 51/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4079 - accuracy: 0.8046
Epoch 52/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4173 - accuracy: 0.7982
Epoch 53/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4146 - accuracy: 0.8001
Epoch 54/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4081 - accuracy: 0.8073
Epoch 55/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4063 - accuracy: 0.8099
Epoch 56/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4144 - accuracy: 0.8059
Epoch 57/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4115 - accuracy: 0.8038
Epoch 58/100
181/181 [==============================] - 0s 3ms/step - loss: 0.4092 - accuracy: 0.8079
Epoch 59/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4071 - accuracy: 0.8074
Epoch 60/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4114 - accuracy: 0.8046
Epoch 61/100
181/181 [==============================] - 0s 3ms/step - loss: 0.4079 - accuracy: 0.8095
Epoch 62/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4068 - accuracy: 0.8085
Epoch 63/100
181/181 [==============================] - 0s 1ms/step - loss: 0.4084 - accuracy: 0.8109
Epoch 64/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4076 - accuracy: 0.8088
Epoch 65/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4105 - accuracy: 0.8079
Epoch 66/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4063 - accuracy: 0.8076
Epoch 67/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4154 - accuracy: 0.8024
Epoch 68/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4103 - accuracy: 0.8074
Epoch 69/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4113 - accuracy: 0.8043
Epoch 70/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4074 - accuracy: 0.8090
Epoch 71/100
181/181 [==============================] - 0s 3ms/step - loss: 0.4090 - accuracy: 0.8083
Epoch 72/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4131 - accuracy: 0.8073
Epoch 73/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4074 - accuracy: 0.8069
Epoch 74/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4100 - accuracy: 0.8081
Epoch 75/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4089 - accuracy: 0.8078
Epoch 76/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4123 - accuracy: 0.8064
Epoch 77/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4102 - accuracy: 0.8076
Epoch 78/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4086 - accuracy: 0.8046
Epoch 79/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4064 - accuracy: 0.8060
Epoch 80/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4126 - accuracy: 0.8073
Epoch 81/100

181/181 [==============================] - 0s 2ms/step - loss: 0.4053 - accuracy: 0.8107
Epoch 82/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4074 - accuracy: 0.8100
Epoch 83/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4085 - accuracy: 0.8083
Epoch 84/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4048 - accuracy: 0.8095
Epoch 85/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4038 - accuracy: 0.8064
Epoch 86/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4035 - accuracy: 0.8081
Epoch 87/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4102 - accuracy: 0.8033
Epoch 88/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4044 - accuracy: 0.8041
Epoch 89/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4044 - accuracy: 0.8109
Epoch 90/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4067 - accuracy: 0.8097
Epoch 91/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4097 - accuracy: 0.8078
Epoch 92/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4008 - accuracy: 0.8107
Epoch 93/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4094 - accuracy: 0.8067
Epoch 94/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4081 - accuracy: 0.8038
Epoch 95/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4025 - accuracy: 0.8086
Epoch 96/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4030 - accuracy: 0.8100
Epoch 97/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4065 - accuracy: 0.8079
Epoch 98/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4089 - accuracy: 0.8081
Epoch 99/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4060 - accuracy: 0.8083
Epoch 100/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4042 - accuracy: 0.8083

In [30]:
model.fit(train_x, train_y, epochs=100, verbose=1)
# "verbose=0"을 이용해서 훈련과정(fit)을 출력하지 않는다.

Epoch 1/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4044 - accuracy: 0.8119
Epoch 2/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4047 - accuracy: 0.8090
Epoch 3/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4041 - accuracy: 0.8095
Epoch 4/100
181/181 [==============================] - 0s 1ms/step - loss: 0.4064 - accuracy: 0.8083
Epoch 5/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4120 - accuracy: 0.8029
Epoch 6/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4077 - accuracy: 0.8071
Epoch 7/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4025 - accuracy: 0.8095
Epoch 8/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4027 - accuracy: 0.8097
Epoch 9/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4002 - accuracy: 0.8135
Epoch 10/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4000 - accuracy: 0.8100
Epoch 11/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4035 - accuracy: 0.8100
Epoch 12/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4083 - accuracy: 0.8074
Epoch 13/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4005 - accuracy: 0.8099
Epoch 14/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4083 - accuracy: 0.8081
Epoch 15/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4039 - accuracy: 0.8125
Epoch 16/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4060 - accuracy: 0.8071
Epoch 17/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4050 - accuracy: 0.8078
Epoch 18/100
181/181 [==============================] - 0s 3ms/step - loss: 0.4050 - accuracy: 0.8088
Epoch 19/100
181/181 [==============================] - 0s 3ms/step - loss: 0.4077 - accuracy: 0.8045
Epoch 20/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4090 - accuracy: 0.8053
Epoch 21/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4094 - accuracy: 0.8064
Epoch 22/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4052 - accuracy: 0.8074
Epoch 23/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4023 - accuracy: 0.8088
Epoch 24/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4036 - accuracy: 0.8069
Epoch 25/100
181/181 [==============================] - 0s 2ms/step - loss: 0.3995 - accuracy: 0.8104
Epoch 26/100
181/181 [==============================] - 0s 3ms/step - loss: 0.4014 - accuracy: 0.8088
Epoch 27/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4069 - accuracy: 0.8069
Epoch 28/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4073 - accuracy: 0.8074
Epoch 29/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4030 - accuracy: 0.8125
Epoch 30/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4080 - accuracy: 0.8081
Epoch 31/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4032 - accuracy: 0.8092
Epoch 32/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4051 - accuracy: 0.8081
Epoch 33/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4061 - accuracy: 0.8111
Epoch 34/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4027 - accuracy: 0.8095
Epoch 35/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4096 - accuracy: 0.8059
Epoch 36/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4016 - accuracy: 0.8114
Epoch 37/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4012 - accuracy: 0.8095
Epoch 38/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4036 - accuracy: 0.8112
Epoch 39/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4069 - accuracy: 0.8095
Epoch 40/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4030 - accuracy: 0.8116
Epoch 41/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4076 - accuracy: 0.8050
Epoch 42/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4011 - accuracy: 0.8102
Epoch 43/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4039 - accuracy: 0.8121
Epoch 44/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4053 - accuracy: 0.8055
Epoch 45/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4005 - accuracy: 0.8105
Epoch 46/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4043 - accuracy: 0.8119
Epoch 47/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4037 - accuracy: 0.8060
Epoch 48/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4060 - accuracy: 0.8073
Epoch 49/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4033 - accuracy: 0.8085
Epoch 50/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4032 - accuracy: 0.8102
Epoch 51/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4000 - accuracy: 0.8121
Epoch 52/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4082 - accuracy: 0.8095
Epoch 53/100
181/181 [==============================] - 1s 3ms/step - loss: 0.3988 - accuracy: 0.8121
Epoch 54/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4030 - accuracy: 0.8066
Epoch 55/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4045 - accuracy: 0.8102
Epoch 56/100
181/181 [==============================] - 0s 2ms/step - loss: 0.3995 - accuracy: 0.8109
Epoch 57/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4048 - accuracy: 0.8083
Epoch 58/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4010 - accuracy: 0.8088
Epoch 59/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4044 - accuracy: 0.8066
Epoch 60/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4043 - accuracy: 0.8060
Epoch 61/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4044 - accuracy: 0.8112
Epoch 62/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4033 - accuracy: 0.8053
Epoch 63/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4061 - accuracy: 0.8088
Epoch 64/100
181/181 [==============================] - 0s 1ms/step - loss: 0.4067 - accuracy: 0.8057
Epoch 65/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4030 - accuracy: 0.8059
Epoch 66/100
181/181 [==============================] - 0s 2ms/step - loss: 0.3978 - accuracy: 0.8112
Epoch 67/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4059 - accuracy: 0.8111
Epoch 68/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4041 - accuracy: 0.8093
Epoch 69/100
181/181 [==============================] - 0s 3ms/step - loss: 0.4041 - accuracy: 0.8180
Epoch 70/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4037 - accuracy: 0.8086
Epoch 71/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4027 - accuracy: 0.8099
Epoch 72/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4042 - accuracy: 0.8079
Epoch 73/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4018 - accuracy: 0.8109
Epoch 74/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4015 - accuracy: 0.8078
Epoch 75/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4052 - accuracy: 0.8097
Epoch 76/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4059 - accuracy: 0.8076
Epoch 77/100
181/181 [==============================] - 0s 3ms/step - loss: 0.3969 - accuracy: 0.8168
Epoch 78/100
181/181 [==============================] - 0s 2ms/step - loss: 0.3980 - accuracy: 0.8173
Epoch 79/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4063 - accuracy: 0.8112
Epoch 80/100
181/181 [==============================] - 0s 2ms/step - loss: 0.3979 - accuracy: 0.8145
Epoch 81/100

181/181 [==============================] - 0s 2ms/step - loss: 0.4029 - accuracy: 0.8135
Epoch 82/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4012 - accuracy: 0.8118
Epoch 83/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4012 - accuracy: 0.8076
Epoch 84/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4067 - accuracy: 0.8048
Epoch 85/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4042 - accuracy: 0.8118
Epoch 86/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4064 - accuracy: 0.8064
Epoch 87/100
181/181 [==============================] - 0s 2ms/step - loss: 0.3996 - accuracy: 0.8081
Epoch 88/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4044 - accuracy: 0.8092
Epoch 89/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4046 - accuracy: 0.8074
Epoch 90/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4000 - accuracy: 0.8105
Epoch 91/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4026 - accuracy: 0.8090
Epoch 92/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4038 - accuracy: 0.8116
Epoch 93/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4025 - accuracy: 0.8086
Epoch 94/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4066 - accuracy: 0.8055
Epoch 95/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4021 - accuracy: 0.8086
Epoch 96/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4011 - accuracy: 0.8081
Epoch 97/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4050 - accuracy: 0.8043
Epoch 98/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4097 - accuracy: 0.8086
Epoch 99/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4014 - accuracy: 0.8135
Epoch 100/100
181/181 [==============================] - 0s 2ms/step - loss: 0.3985 - accuracy: 0.8114

In [31]:
model.fit(train_x, train_y, epochs=100, verbose=1)

Epoch 1/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4013 - accuracy: 0.8085
Epoch 2/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4056 - accuracy: 0.8085
Epoch 3/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4046 - accuracy: 0.8097
Epoch 4/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4080 - accuracy: 0.8086
Epoch 5/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4058 - accuracy: 0.8081
Epoch 6/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4026 - accuracy: 0.8145
Epoch 7/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4028 - accuracy: 0.8102
Epoch 8/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4017 - accuracy: 0.8140
Epoch 9/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4047 - accuracy: 0.8130
Epoch 10/100
181/181 [==============================] - 0s 2ms/step - loss: 0.3978 - accuracy: 0.8100
Epoch 11/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4045 - accuracy: 0.8071
Epoch 12/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4009 - accuracy: 0.8102
Epoch 13/100
181/181 [==============================] - 0s 2ms/step - loss: 0.3992 - accuracy: 0.8081
Epoch 14/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4001 - accuracy: 0.8093
Epoch 15/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4000 - accuracy: 0.8081
Epoch 16/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4014 - accuracy: 0.8126
Epoch 17/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4066 - accuracy: 0.8111
Epoch 18/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4001 - accuracy: 0.8050
Epoch 19/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4031 - accuracy: 0.8076
Epoch 20/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4015 - accuracy: 0.8073
Epoch 21/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4026 - accuracy: 0.8090
Epoch 22/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4036 - accuracy: 0.8105
Epoch 23/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4059 - accuracy: 0.8092
Epoch 24/100
181/181 [==============================] - 0s 2ms/step - loss: 0.3989 - accuracy: 0.8125
Epoch 25/100
181/181 [==============================] - 0s 2ms/step - loss: 0.3994 - accuracy: 0.8090
Epoch 26/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4024 - accuracy: 0.8090
Epoch 27/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4027 - accuracy: 0.8097
Epoch 28/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4045 - accuracy: 0.8027
Epoch 29/100
181/181 [==============================] - 0s 2ms/step - loss: 0.3999 - accuracy: 0.8147
Epoch 30/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4004 - accuracy: 0.8059
Epoch 31/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4042 - accuracy: 0.8045
Epoch 32/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4011 - accuracy: 0.8107
Epoch 33/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4005 - accuracy: 0.8100
Epoch 34/100
181/181 [==============================] - 0s 2ms/step - loss: 0.3991 - accuracy: 0.8086
Epoch 35/100
181/181 [==============================] - 0s 3ms/step - loss: 0.4050 - accuracy: 0.8114
Epoch 36/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4015 - accuracy: 0.8125
Epoch 37/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4007 - accuracy: 0.8135
Epoch 38/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4013 - accuracy: 0.8111
Epoch 39/100
181/181 [==============================] - 0s 2ms/step - loss: 0.3952 - accuracy: 0.8171
Epoch 40/100
181/181 [==============================] - 0s 3ms/step - loss: 0.4035 - accuracy: 0.8132
Epoch 41/100
181/181 [==============================] - 0s 2ms/step - loss: 0.3993 - accuracy: 0.8099
Epoch 42/100
181/181 [==============================] - 0s 3ms/step - loss: 0.3958 - accuracy: 0.8144
Epoch 43/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4008 - accuracy: 0.8104
Epoch 44/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4076 - accuracy: 0.8166
Epoch 45/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4018 - accuracy: 0.8040
Epoch 46/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4014 - accuracy: 0.8090
Epoch 47/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4052 - accuracy: 0.8076
Epoch 48/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4040 - accuracy: 0.8109
Epoch 49/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4042 - accuracy: 0.8071
Epoch 50/100
181/181 [==============================] - 0s 3ms/step - loss: 0.4040 - accuracy: 0.8059
Epoch 51/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4036 - accuracy: 0.8119
Epoch 52/100
181/181 [==============================] - 0s 2ms/step - loss: 0.3967 - accuracy: 0.8099
Epoch 53/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4067 - accuracy: 0.8092
Epoch 54/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4008 - accuracy: 0.8126
Epoch 55/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4049 - accuracy: 0.8085
Epoch 56/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4063 - accuracy: 0.8052
Epoch 57/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4018 - accuracy: 0.8149
Epoch 58/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4036 - accuracy: 0.8062
Epoch 59/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4030 - accuracy: 0.8125
Epoch 60/100
181/181 [==============================] - 0s 3ms/step - loss: 0.3990 - accuracy: 0.8076
Epoch 61/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4055 - accuracy: 0.8079
Epoch 62/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4041 - accuracy: 0.8041
Epoch 63/100
181/181 [==============================] - 0s 3ms/step - loss: 0.3997 - accuracy: 0.8125
Epoch 64/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4040 - accuracy: 0.8099
Epoch 65/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4041 - accuracy: 0.8079
Epoch 66/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4090 - accuracy: 0.8062
Epoch 67/100
181/181 [==============================] - 0s 3ms/step - loss: 0.4051 - accuracy: 0.8112
Epoch 68/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4051 - accuracy: 0.8105
Epoch 69/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4039 - accuracy: 0.8088
Epoch 70/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4046 - accuracy: 0.8111
Epoch 71/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4060 - accuracy: 0.8112
Epoch 72/100
181/181 [==============================] - 0s 2ms/step - loss: 0.3984 - accuracy: 0.8132
Epoch 73/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4013 - accuracy: 0.8052
Epoch 74/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4045 - accuracy: 0.8099
Epoch 75/100
181/181 [==============================] - 0s 2ms/step - loss: 0.3992 - accuracy: 0.8099
Epoch 76/100
181/181 [==============================] - 0s 2ms/step - loss: 0.3982 - accuracy: 0.8114
Epoch 77/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4043 - accuracy: 0.8088
Epoch 78/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4022 - accuracy: 0.8107
Epoch 79/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4032 - accuracy: 0.8071
Epoch 80/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4025 - accuracy: 0.8123
Epoch 81/100

181/181 [==============================] - 0s 2ms/step - loss: 0.4054 - accuracy: 0.8107
Epoch 82/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4015 - accuracy: 0.8076
Epoch 83/100
181/181 [==============================] - 0s 2ms/step - loss: 0.3985 - accuracy: 0.8079
Epoch 84/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4036 - accuracy: 0.8074
Epoch 85/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4007 - accuracy: 0.8069
Epoch 86/100
181/181 [==============================] - 0s 1ms/step - loss: 0.4030 - accuracy: 0.8102
Epoch 87/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4015 - accuracy: 0.8111
Epoch 88/100
181/181 [==============================] - 0s 2ms/step - loss: 0.3995 - accuracy: 0.8086
Epoch 89/100
181/181 [==============================] - 0s 2ms/step - loss: 0.3991 - accuracy: 0.8116
Epoch 90/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4030 - accuracy: 0.8076
Epoch 91/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4087 - accuracy: 0.8105
Epoch 92/100
181/181 [==============================] - 0s 2ms/step - loss: 0.3986 - accuracy: 0.8125
Epoch 93/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4056 - accuracy: 0.8076
Epoch 94/100
181/181 [==============================] - 0s 1ms/step - loss: 0.4012 - accuracy: 0.8067
Epoch 95/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4005 - accuracy: 0.8073
Epoch 96/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4095 - accuracy: 0.8055
Epoch 97/100
181/181 [==============================] - 0s 2ms/step - loss: 0.3990 - accuracy: 0.8100
Epoch 98/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4060 - accuracy: 0.8073
Epoch 99/100
181/181 [==============================] - 0s 2ms/step - loss: 0.3986 - accuracy: 0.8119
Epoch 100/100
181/181 [==============================] - 0s 2ms/step - loss: 0.4056 - accuracy: 0.8062

In [32]:
print(model.predict(test_x[0:10]))
print(test_y[0:10])

1/1 [==============================] - 0s 167ms/step
[[0.8503533  0.1496467 ]
 [0.9347148  0.06528527]
 [0.69185793 0.30814207]
 [0.55338883 0.4466112 ]
 [0.3522441  0.6477559 ]
 [0.5714803  0.42851976]
 [0.56704366 0.43295637]
 [0.02484087 0.97515905]
 [0.2958842  0.70411587]
 [0.750192   0.24980798]]
      win_0.0  win_1.0
223         0        1
111         1        0
582         0        1
177         1        0
230         0        1
1214        1        0
660         1        0
1147        0        1
1242        0        1
752         1        0

In [33]:
model.evaluate(test_x, test_y)

46/46 [==============================] - 0s 2ms/step - loss: 0.4291 - accuracy: 0.7961

[0.4291248023509979, 0.7961165308952332]

In [46]:
baseball_2020 = pd.read_csv('./baseball_2020.csv', encoding='CP949')
baseball_2020.head()

,G_ID,GDAY_DS,T_ID,VS_T_ID,HEADER_NO,TB_SC,PA,AB,RBI,RUN,...,HP,KK,GD,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN,OBP,OOO,win
0,20200505HHSK0,20200505,HH,SK,0,T,35.0,31.0,3.0,3.0,...,0.0,5.0,1.0,13.0,0.250000,8,2,0.303030,0.258065,1.0
1,20200505HHSK0,20200505,SK,HH,0,B,30.0,29.0,0.0,0.0,...,0.0,2.0,0.0,3.0,0.000000,1,0,0.100000,0.068966,0.0
2,20200505LTKT0,20200505,LT,KT,0,T,37.0,32.0,7.0,7.0,...,0.0,9.0,1.0,6.0,0.666667,3,2,0.297297,0.218750,1.0
3,20200505LTKT0,20200505,KT,LT,0,B,35.0,30.0,2.0,2.0,...,0.0,8.0,1.0,12.0,0.000000,4,0,0.285714,0.166667,0.0
4,20200505NCSS0,20200505,NC,SS,0,T,35.0,33.0,4.0,4.0,...,0.0,9.0,0.0,6.0,0.333333,3,1,0.257143,0.212121,1.0

In [47]:
# 분석에 필요하다고 생각되는 column으로 df 재구성
baseball_2020 = baseball_2020[['T_ID', 'VS_T_ID', 'PA', 'AB', 'RUN', 'OBP', 'OOO', 'win']]
baseball_2020.head()

  T_ID VS_T_ID    PA    AB  RUN       OBP       OOO  win
0   HH      SK  35.0  31.0  3.0  0.303030  0.258065  1.0
1   SK      HH  30.0  29.0  0.0  0.100000  0.068966  0.0
2   LT      KT  37.0  32.0  7.0  0.297297  0.218750  1.0
3   KT      LT  35.0  30.0  2.0  0.285714  0.166667  0.0
4   NC      SS  35.0  33.0  4.0  0.257143  0.212121  1.0

In [48]:
# 결측치 확인
baseball_2020.isnull().sum()

T_ID       0
VS_T_ID    0
PA         0
AB         0
RUN        0
OBP        0
OOO        0
win        0
dtype: int64

In [49]:
baseball_2020['T_ID'].unique()

array(['HH', 'SK', 'LT', 'KT', 'NC', 'SS', 'OB', 'LG', 'WO', 'HT'],
      dtype=object)

In [50]:
# 라벨인코더로 10개 팀 넘버링하기
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(baseball_2020['T_ID'])
baseball_2020.loc[:,'T_ID'] = le.transform(baseball_2020['T_ID'])
baseball_2020.loc[:,'VS_T_ID'] = le.transform(baseball_2020['VS_T_ID'])

baseball_2020.head()

   T_ID  VS_T_ID    PA    AB  RUN       OBP       OOO  win
0     0        7  35.0  31.0  3.0  0.303030  0.258065  1.0
1     7        0  30.0  29.0  0.0  0.100000  0.068966  0.0
2     4        2  37.0  32.0  7.0  0.297297  0.218750  1.0
3     2        4  35.0  30.0  2.0  0.285714  0.166667  0.0
4     5        8  35.0  33.0  4.0  0.257143  0.212121  1.0

In [51]:
baseball_2020['T_ID'].unique()

array([0, 7, 4, 2, 5, 8, 6, 3, 9, 1])

In [42]:
# ['HH', 'WO', 'KT', 'LT', 'LG', 'HT', 'NC', 'OB', 'SK', 'SS']
# [0,     9,    2,    4,    3,    1,    5,    6,    7,    8]

In [52]:
baseball_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1368 entries, 0 to 1367
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   T_ID     1368 non-null   int32
 1   VS_T_ID  1368 non-null   int32
 2   PA       1368 non-null   float64
 3   AB       1368 non-null   float64
 4   RUN      1368 non-null   float64
 5   OBP      1368 non-null   float64
 6   OOO      1368 non-null   float64
 7   win      1368 non-null   float64
dtypes: float64(6), int32(2)
memory usage: 74.9 KB

In [53]:
# 무승부 제거
baseball_2020 = baseball_2020[baseball_2020.win != 0.5]

In [54]:
baseball_2020.info() # 무승부 52경기(3.8%)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1316 entries, 0 to 1367
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   T_ID     1316 non-null   int32
 1   VS_T_ID  1316 non-null   int32
 2   PA       1316 non-null   float64
 3   AB       1316 non-null   float64
 4   RUN      1316 non-null   float64
 5   OBP      1316 non-null   float64
 6   OOO      1316 non-null   float64
 7   win      1316 non-null   float64
dtypes: float64(6), int32(2)
memory usage: 82.2 KB

In [55]:
# # 승패에 대한 2진 분류를 위해 원핫인코더로 승패를 2개의 column으로 나눈다.
baseball_2020 = pd.get_dummies(baseball_2020, columns = ['win'])
baseball_2020.head()

   T_ID  VS_T_ID    PA    AB  RUN       OBP       OOO  win_0.0  win_1.0
0     0        7  35.0  31.0  3.0  0.303030  0.258065        0        1
1     7        0  30.0  29.0  0.0  0.100000  0.068966        1        0
2     4        2  37.0  32.0  7.0  0.297297  0.218750        0        1
3     2        4  35.0  30.0  2.0  0.285714  0.166667        1        0
4     5        8  35.0  33.0  4.0  0.257143  0.212121        0        1

In [56]:
baseball_2020['win_0.0'] = baseball_2020['win_0.0'].astype('int')
baseball_2020['win_1.0'] = baseball_2020['win_1.0'].astype('int')

In [57]:
# 독립변수, 종속변수

data_2020 = baseball_data_re[['T_ID', 'VS_T_ID', 'PA', 'AB', 'RUN', 'OBP', 'OOO']]
target_2020 = baseball_data_re[['win_0.0', 'win_1.0']] 

print(data.shape, target.shape)

(7206, 7) (7206, 2)

In [58]:
model.evaluate(data_2020, target_2020)

226/226 [==============================] - 0s 2ms/step - loss: 0.4108 - accuracy: 0.8034

[0.4108262062072754, 0.8033583164215088]

In [59]:
print(model.predict(data_2020[-11:]))
print(target_2020[-11:])

1/1 [==============================] - 0s 32ms/step
[[0.537551   0.46244898]
 [0.9639026  0.03609738]
 [0.1257062  0.8742938 ]
 [0.49616012 0.50383985]
 [0.502061   0.49793896]
 [0.45993602 0.54006404]
 [0.22336918 0.77663076]
 [0.581435   0.41856498]
 [0.9929773  0.00702265]
 [0.092587   0.90741307]
 [0.57328063 0.4267194 ]]
      win_0.0  win_1.0
1453        1        0
1454        1        0
1455        0        1
1456        1        0
1457        0        1
1458        1        0
1459        0        1
1460        0        1
1461        1        0
1462        0        1
1463        1        0

In [ ]:
dd